body {
  height: 100lvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}

body > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
