<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <div class="left-column">
        <h1 class="title">HiveMind</h1>
        <div class="left-column-item1">
          <div>
            <h2>Condividi le tue idee</h2>
            <p>
              Dai libero sfogo ai tuoi pensieri, esplora le idee degli altri e
              trova ispirazione!
            </p>
          </div>
          <div class="idea-container">
            <app-carousel></app-carousel>
          </div>
        </div>
        <div class="arrow-down-container" (click)="scrollToForm('smooth')">
          <p>Scorri per accedere</p>
          <div class="arrow-down"></div>
        </div>
      </div>
      <div id="signInForm" class="right-column">
        <div class="login-container">
          <h1>Accedi</h1>

          <form id="loginForm">
            <div class="input-group">
              <input
                type="text"
                id="username"
                placeholder="Username"
                required
              />
            </div>
            <div class="input-group">
              <input
                type="password"
                id="password"
                placeholder="Password"
                required
              />
            </div>
            <button type="submit">Accedi</button>
          </form>

          <div class="register-link">
            Non hai un account? <a href="/signup">Registrati ora</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
