<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <app-auth-landing
        formElementId="signUpForm"
        [isSignin]="false"
      ></app-auth-landing>

      <div id="signUpForm" class="right-column">
        <div class="login-container">
          <h1>Registrati</h1>

          <form
            id="loginForm"
            [formGroup]="loginForm"
            (ngSubmit)="onSignUpTap()"
          >
            <div class="input-group">
              <input
                id="username"
                type="text"
                placeholder="Username"
                formControlName="username"
                required
              />
            </div>
            <div class="input-group">
              <input
                id="password"
                type="password"
                placeholder="Password"
                formControlName="password"
                required
              />
            </div>

            @if (errorMessage) {
            <p class="error-message">{{ errorMessage }}</p>
            }

            <div class="optional-text-group">
              <div></div>
              <p>opzionale</p>
              <div></div>
            </div>

            <div style="display: flex; gap: 8px">
              <div class="input-group">
                <input
                  type="text"
                  id="first_name"
                  placeholder="Nome"
                  formControlName="firstName"
                />
              </div>
              <div class="input-group">
                <input
                  type="text"
                  id="last_name"
                  placeholder="Cognome"
                  formControlName="lastName"
                />
              </div>
            </div>

            <button type="submit">Registrati</button>
          </form>

          <div class="register-link">
            Hai già un account? <a (click)="navigateToSigninPage()">Accedi</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
