@import "../../styles/theme_variables.scss";

$idea-container-max-width: 700px;
$idea-container-min-width: 260px;

body {
  /* size */
  width: calc(100vw - (2 * 10%));
  margin: 52px 10%;
  padding-top: 12px;

  line-break: auto;

  display: flex;
  flex-direction: row;
  gap: 48px;
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.idea-container {
  background-color: $primary200;
  color: $primary600;

  width: calc(100% - 24px);
  padding: 12px;

  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.idea-container .title {
  font-weight: bold;
  font-size: 18px;
}
.idea-container .description {
  font-size: 16px;
}

textarea {
  width: 100%;
  padding: 0.75rem;
  border: 2px solid $primary100;
  background-color: white;
  font-size: 1rem;
  transition: border-color 0.3s;
  border-radius: 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  resize: none;
  height: 200px;
}

textarea:focus {
  border-color: $primary600;
  border-width: 2px;
  border-radius: 8px;
  outline: none;
}

button {
  border: none;
  border-radius: 8px;
  padding: 8px 12px;

  background-color: $primary200;
  color: $primary600;
  font-weight: bold;
  font-size: 16px;
  margin-top: 12px;

  align-self: flex-start;
  cursor: pointer;
  transition: 200ms;
}
button:hover {
  background-color: $primary300;
  color: $primary800;
}
button:disabled {
  background-color: rgb(200, 200, 200);
  color: rgb(100, 100, 100);
  font-size: 12px;
}

.comment-container {
  display: flex;
  flex-direction: column;
  background-color: $secondary200;
  color: $secondary800;
  padding: 8px;
  border-radius: 8px;
  gap: 12px;
}

.comment-container p {
  font-size: 14px;
  align-self: flex-end;
}

@media (max-width: 1200px) {
  body {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  body {
    width: calc(100vw - (2 * 12px));
    margin: 52px 12px;
  }
}

.e-toolbar-wrapper {
  height: 0px !important;
}

.e-control.e-richtexteditor {
  border: none;
  // background-color: transparent;
  background-color: red;
  font-size: 16px;
}

.e-control.e-richtexteditor .e-rte-content {
  border: none;
}
