<body>
  <div class="left-column">
    @if (idea) {
    <div class="idea-container">
      <p class="title">{{ idea.title }}</p>
      <div class="description" [innerHTML]="idea.description"></div>
      <div style="display: flex; justify-content: end">
        <p style="font-size: 14px">{{ idea.userFK }}</p>
      </div>
    </div>
    }
    <div>
      <textarea
        type="text"
        [maxLength]="1000"
        placeholder="Scrivi un tuo parere..."
        #comment
      ></textarea>
      <button (click)="publishComment()">Pubblica commento!</button>
    </div>
  </div>
  <div class="right-column">
    @for (item of comments; track item.id) {
    <div class="comment-container">
      <div [innerText]="item.text"></div>
      <p ><i>{{ item.userFK }}</i></p>
    </div>

    }
  </div>
</body>
