<body>
  <div class="sort-bar">
    <app-chip label="Controverse"
              [selected]="ideaService.sortType === 'default'"
              (click)="sortIdeas('default')"></app-chip>
    <app-chip label="Unpopular"
              [selected]="ideaService.sortType === 'unpopular'"
              (click)="sortIdeas('unpopular')"></app-chip>
    <app-chip label="Mainstream"
              [selected]="ideaService.sortType === 'mainstream'"
              (click)="sortIdeas('mainstream')"></app-chip>
  </div>
  
  <div class="ideas-grid">
    @for (idea of paginatedIdeas; track idea.id) {
    <div class="idea-container">
      <p class="title">{{ idea.title }}</p>
      <div class="description"
           [innerHTML]="sanitizer.bypassSecurityTrustHtml(idea.description)"></div>
      <div class="bottom-bar">
        <div (click)="upVote(idea.id)">
          <div [className]="
              'thumb ' +
              (idea.is_up_vote ?? false ? 'thumb-up-fill' : 'thumb-up-outline')
            "></div>
          {{ idea.up_vote_quantity }}
        </div>
        <div (click)="downVote(idea.id)">
          <div [className]="
              'thumb ' +
              (!(idea.is_up_vote ?? true)
                ? 'thumb-down-fill'
                : 'thumb-down-outline')
            "></div>
          {{ idea.down_vote_quantity }}
        </div>
        <div (click)="onCommentClick(idea.id)">
          <div class="comment"></div>
          {{ idea.comment_quantity }}
        </div>
        <div style="flex: 1; cursor: auto"></div>
        <p style="font-size: 14px; align-self: center">{{ idea.userFK }}</p>
      </div>
    </div>
    } @empty {
    <p>Nessuno ha ancora avuto l'ispirazione :(</p>
    }
  </div>
  <div class="pagination-buttons">
    <button (click)="previousPage()"
            [disabled]="currentPage === 1"
            class="previous-page-button"></button>
    <span>{{ currentPage }} - {{ pagesQuantity }}</span>
    <button (click)="nextPage()"
            [disabled]="currentPage === pagesQuantity"
            class="next-page-button"></button>
  </div>
</body>