<body>
  <div class="sort-bar">
    <app-chip
      label="Controverse"
      [selected]="sortType === 'default'"
      (click)="sortIdeas('default')"
    ></app-chip>
    <app-chip
      label="Unpopular"
      [selected]="sortType === 'unpopular'"
      (click)="sortIdeas('unpopular')"
    ></app-chip>
    <app-chip
      label="Mainstream"
      [selected]="sortType === 'mainstream'"
      (click)="sortIdeas('mainstream')"
    ></app-chip>
  </div>
  <div class="ideas-grid">
    @for (idea of ideas; track idea.id) {
    <div class="idea-container">
      <p class="title">{{ idea.title }}</p>
      <div class="description" [innerHTML]="idea.description"></div>
      <div class="bottom-bar">
        <div (click)="upVote($index)">
          <div
            [className]="
              'thumb ' +
              (idea.is_up_vote ?? false ? 'thumb-up-fill' : 'thumb-up-outline')
            "
          ></div>
          {{ idea.up_vote_quantity }}
        </div>
        <div (click)="downVote($index)">
          <div
            [className]="
              'thumb ' +
              (!(idea.is_up_vote ?? true)
                ? 'thumb-down-fill'
                : 'thumb-down-outline')
            "
          ></div>
          {{ idea.down_vote_quantity }}
        </div>
        <div (click)="onCommentClick($index)">
          <div class="comment"></div>
          {{ idea.comment_quantity }}
        </div>
        <div style="flex: 1; cursor: auto"></div>
        <p style="font-size: 14px; align-self: center">{{ idea.userFK }}</p>
      </div>
    </div>
    } @empty {
    <p>Nessuno ha ancora avuto l'ispirazione :(</p>
    }
  </div>
</body>
