<nav>
  <div (click)="refreshHomePage()">
    <h1>HiveMind</h1>
  </div>
  <div>
    <div class="new-idea-container">
      <img src="assets/icons/write.svg" height="28px" width="28px" />
      <p>Idea!</p>
    </div>
    <img
      (click)="toggleUserPopup($event)"
      src="assets/icons/profile.svg"
      height="20px"
      width="20px"
      class="profile-button"
    />
  </div>
  @if (isUserPopupOpen) {
  <div class="popup" (click)="preventClose($event)">
    <button (click)="signOut()">SIGN OUT</button>
  </div>
  }
</nav>
