@import "../../styles/theme_variables.scss";

nav {
  position: fixed;
  top: 0px;
  z-index: 1;
  /* colors */
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  color: $primary500;

  /* size */
  height: 40px;
  width: calc(100vw - (2 * 15%));
  padding: 6px 15%;
  margin-bottom: 12px;

  /* alignment */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav div:nth-child(1) {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}

nav div:nth-child(2) {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}

.new-idea-container {
  display: flex;
  flex-direction: row;

  background-color: $secondary300;
  color: $secondary700;
  font-weight: bold;
  padding: 4px;
  border-radius: 8px;

  transition: 0.2s ease-in-out;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.profile-button {
  transition: 0.2s ease-in-out;
  cursor: pointer;
  background-color: $primary300;
  padding: 8px;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

@media (max-width: 600px) {
  nav {
    width: calc(100vw - (2 * 12px));
    padding: 6px 12px;
  }
}
