$primary50: #f1f8f3;
$primary100: #deede0;
$primary200: #bfdbc4;
$primary300: #94c19f;
$primary400: #66a277;
$primary500: #448558;
$primary600: #326945;
$primary700: #285438;
$primary800: #22432e;
$primary900: #1c3826;
$primary950: #0f1f15;

$secondary50: #f3f7fa;
$secondary100: #e9f0f6;
$secondary200: #d7e3ee;
$secondary300: #bed0e3;
$secondary400: #a3b7d6;
$secondary500: #8c9fc8;
$secondary600: #7484b7;
$secondary700: #6673a2;
$secondary800: #515c82;
$secondary900: #464f69;
$secondary950: #292e3d;