@import "app/styles/theme_variables.scss";

/* RICH TEXT EDITORS STYLES */
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';

* {
  margin: 0;
  font-family: "FragmentMono";
  scrollbar-width: none;
}

@font-face {
  font-family: AzeretMono;
  src: url(assets/fonts/AzeretMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: FragmentMono;
  src: url(assets/fonts/FragmentMono-Regular.ttf);
}
