@import "app/styles/theme_variables.scss";

* {
  margin: 0;
  font-family: "FragmentMono";
}

@font-face {
  font-family: AzeretMono;
  src: url(assets/fonts/AzeretMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: FragmentMono;
  src: url(assets/fonts/FragmentMono-Regular.ttf);
}
