<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <app-auth-landing
        formElementId="signInForm"
        [isSignin]="true"
      ></app-auth-landing>

      <div id="signInForm" class="right-column">
        <div class="login-container">
          <h1>Accedi</h1>

          <form
            id="loginForm"
            [formGroup]="loginForm"
            (ngSubmit)="onSignUpTap()"
          >
            <div class="input-group">
              <input
                type="text"
                id="username"
                placeholder="Username"
                formControlName="username"
                required
              />
            </div>
            <div class="input-group">
              <input
                type="password"
                id="password"
                placeholder="Password"
                formControlName="password"
                required
              />
            </div>

            @if (isUsernameInvalid) {
            <p class="error-message">Username non valido</p>
            } @else if (isPasswordInvalid) {
            <p class="error-message">Password non valida</p>
            }

            <button type="submit">Accedi</button>
          </form>

          <div class="register-link">
            Non hai un account?
            <a (click)="navigateToSignupPage()">Registrati</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
